<div th:fragment="nav">

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Product DEMO CRM</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="http://127.0.0.1:8081/products">Products</a></li>
                <li><a href="http://127.0.0.1:8081/categories">Category</a></li>
                <li><a href="http://127.0.0.1:8081/distributors">Distributors</a></li>
                <li><a href="http://127.0.0.1:8081/dealers">Dealers</a></li>
                <li><a href="http://127.0.0.1:8081/taxes">Taxes</a></li>
            </ul>
            <a href="http://127.0.0.1:8081/tax" class="btn btn-danger navbar-btn">Reports</a>
        </div>
    </nav>

</div>


<div th:fragment="userNav">
    <nav class="navbar navbar-main navbar-expand-lg bg-transparent shadow-none position-absolute px-4 w-100 z-index-2">
        <div class="container-fluid py-1">
            <div class="collapse navbar-collapse me-md-0 me-sm-4 mt-sm-0 mt-2" id="navbar">
                <div class="ms-md-auto pe-md-3 d-flex align-items-center">
                </div>
                <ul class="navbar-nav justify-content-end">
                    <li class="nav-item d-flex align-items-center">
                        <a class="btn btn-outline-white btn-sm mb-0 me-3" target="_blank" href="/policy/buyInsurance">Explore insurance coverage</a>
                    </li>
                    <li class="nav-item d-flex align-items-center">
                        <a href="javascript:;" class="nav-link text-white font-weight-bold px-0">
                            <i class="fa fa-user me-sm-1"></i>
                            <span class="d-sm-inline d-none">
                                Hello <span th:text="${username}"></span>
                            </span>
                        </a>
                    </li>
                    <li class="nav-item d-xl-none ps-3 pe-0 d-flex align-items-center">
                        <a href="javascript:;" class="nav-link text-white p-0">
                            <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
                                <div class="sidenav-toggler-inner">
                                    <i class="sidenav-toggler-line bg-white"></i>
                                    <i class="sidenav-toggler-line bg-white"></i>
                                    <i class="sidenav-toggler-line bg-white"></i>
                                </div>
                            </a>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>