<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">-->

<head th:replace="user/header::userHeader"></head>

<body class="g-sidenav-show bg-gray-100">

<aside th:replace="user/aside::userAside"></aside>

<div class="main-content position-relative bg-gray-100 max-height-vh-100 h-100">

    <nav th:replace="user/nav::userNav"></nav>

    <main class="main-content  mt-0">
        <section class="min-vh-100 mb-8">
            <div class="page-header align-items-start min-vh-50 pt-5 pb-11 m-3 border-radius-lg"
                 style="background-image: url('/img/curved-images/curved14.jpg');">
                <span class="mask bg-gradient-dark opacity-6"></span>
            </div>
            <div class="container">
                <div class="row mt-lg-n10 mt-md-n11 mt-n10">
                    <div class="col-xl-4 col-lg-5 col-md-7 mx-auto">
                        <div class="card z-index-0">
                            <div class="card-body">
                                <form method="post" role="form text-left" th:object="${userProfileDto}">

                                    <div class="mb-3">
                                        <input type="text" class="form-control" placeholder="Mobile Number" aria-label="Number" aria-describedby="email-addon" th:field="${userProfileDto.mobileNumber}">
                                        <p th:if="${#fields.hasErrors('mobileNumber')}" th:errorClass="text-danger"
                                           th:errors="${userProfileDto.mobileNumber}"></p>
                                    </div>
                                    <div class="mb-3">
                                        <input type="text" class="form-control" placeholder="Address" aria-label="Address"
                                               aria-describedby="email-addon" th:field="${userProfileDto.address}">
                                        <p th:if="${#fields.hasErrors('address')}" th:errorClass="text-danger"
                                           th:errors="${userProfileDto.address}"></p>
                                    </div>
                                    <div class="mb-3">
                                        <input type="text" class="form-control" placeholder="City/Town" aria-label="City"
                                               aria-describedby="email-addon" th:field="${userProfileDto.city}">
                                        <p th:if="${#fields.hasErrors('city')}" th:errorClass="text-danger"
                                           th:errors="${userProfileDto.city}"></p>
                                    </div>
                                    <div class="mb-3">
                                        <input type="text" class="form-control" placeholder="ZipCode" aria-label="ZipCode"
                                               aria-describedby="email-addon" th:field="${userProfileDto.zipCode}">
                                        <p th:if="${#fields.hasErrors('zipCode')}" th:errorClass="text-danger"
                                           th:errors="${userProfileDto.zipCode}"></p>
                                    </div>
                                    <div class="mb-3">
                                        <input type="text" class="form-control" placeholder="Province" aria-label="Province"
                                               aria-describedby="email-addon" th:field="${userProfileDto.province}">
                                        <p th:if="${#fields.hasErrors('province')}" th:errorClass="text-danger"
                                           th:errors="${userProfileDto.province}"></p>
                                    </div>
                                    <div class="mb-3">
                                        <input type="text" class="form-control" placeholder="Country" aria-label="country"
                                               aria-describedby="email-addon" th:field="${userProfileDto.country}">
                                        <p th:if="${#fields.hasErrors('country')}" th:errorClass="text-danger"
                                           th:errors="${userProfileDto.country}"></p>
                                    </div>

                                    <div class="text-center">
                                        <button type="submit" class="btn bg-gradient-dark w-100 my-4 mb-2">Update Profile
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <div class="clear"></div>

    <div th:replace="user/footer::userFooter"></div>
</div>
</body>
</html>