<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{user/header::userHeader}"></head>

<body class="g-sidenav-show bg-gray-100">

<aside th:replace="~{user/aside::userAside}"></aside>

<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur"
         navbar-scroll="true">
        <div class="container-fluid py-1 px-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
                    <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="javascript:">Pages</a>
                    </li>
                    <li aria-current="page" class="breadcrumb-item text-sm text-dark active">Dashboard</li>
                </ol>
                <h6 class="font-weight-bolder mb-0">Dashboard</h6>
            </nav>
            <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
                <div class="ms-md-auto pe-md-8 d-flex align-items-center">

                </div>
                <ul class="navbar-nav  justify-content-end">
                    <li class="nav-item d-flex align-items-center">
                        <a class="nav-link text-body font-weight-bold px-0" href="/user/userProfile">
                            <i class="fa fa-user me-sm-1"></i>
                            <span th:text="${username}"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- End Navbar -->
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
                <div class="card">
                    <div class="card-body p-3">
                        <div class="row">
                            <div class="col-8">
                                <div class="numbers">
                                    <p class="text-sm mb-0 text-capitalize font-weight-bold">Today's Policy</p>
                                    <h5 class="font-weight-bolder mb-0">
                                        $<span th:text="${sumUserWiseGrandTotal?:'0'}"></span>
                                        <!--<span class="text-success text-sm font-weight-bolder">+55%</span>-->
                                    </h5>
                                </div>
                            </div>
                            <div class="col-4 text-end">
                                <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                                    <i aria-hidden="true" class="ni ni-money-coins text-lg opacity-10"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
                <div class="card">
                    <div class="card-body p-3">
                        <div class="row">
                            <div class="col-8">
                                <div class="numbers">
                                    <p class="text-sm mb-0 text-capitalize font-weight-bold">Registered Pets</p>
                                    <h5 class="font-weight-bolder mb-0">
                                        <span th:text="${totalPets?:'0'}"></span>
                                        <!--<span class="text-success text-sm font-weight-bolder">+3%</span>-->
                                    </h5>
                                </div>
                            </div>
                            <div class="col-4 text-end">
                                <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                                    <i aria-hidden="true" class="ni ni-world text-lg opacity-10"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
                <div class="card">
                    <div class="card-body p-3">
                        <div class="row">
                            <div class="col-8">
                                <div class="numbers">
                                    <p class="text-sm mb-0 text-capitalize font-weight-bold">Purchased Policy</p>
                                    <h5 class="font-weight-bolder mb-0">
                                        <span th:text="${totalCoverages?:'0'}"></span>
                                        <!--<span class="text-danger text-sm font-weight-bolder">-2%</span>-->
                                    </h5>
                                </div>
                            </div>
                            <div class="col-4 text-end">
                                <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                                    <i aria-hidden="true" class="ni ni-paper-diploma text-lg opacity-10"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6">
                <div class="card">
                    <div class="card-body p-3">
                        <div class="row">
                            <div class="col-8">
                                <div class="numbers">
                                    <p class="text-sm mb-0 text-capitalize font-weight-bold">Paid Amount</p>
                                    <h5 class="font-weight-bolder mb-0">
                                        $<span th:text="${sumTotalPaid?:'0'}"></span>
                                        <!--<span class="text-success text-sm font-weight-bolder">+5%</span>-->
                                    </h5>
                                </div>
                            </div>
                            <div class="col-4 text-end">
                                <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                                    <i aria-hidden="true" class="ni ni-cart text-lg opacity-10"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <!--<div class="col-lg-5 mb-lg-0 mb-4">
                <div class="card z-index-2">
                    <div class="card-body p-3">
                        <div class="bg-gradient-dark border-radius-lg py-3 pe-1 mb-3">
                            <div class="chart">
                                <canvas class="chart-canvas" height="170" id="chart-bars"></canvas>
                            </div>
                        </div>
                        <h6 class="ms-2 mt-4 mb-0">  Annual limits </h6>
                        <p class="text-sm ms-2"> (<span class="font-weight-bolder">+23%</span>) than last week </p>
                    </div>
                </div>
            </div>-->


            <div class="col-lg-12">
                <div class="card z-index-2">
                    <div class="card-header pb-0">
                        <h6>Annual deductible and the reimbursement rate</h6>
                        <p class="text-sm">
                            <i class="fa fa-arrow-up text-success"></i>
<!--                            <span class="font-weight-bold">4% more</span> in 2021-->
                        </p>
                    </div>
                    <div class="card-body p-3">
                        <div class="chart">
<!--                            <canvas class="chart-canvas" height="300" id="chart-line"></canvas>-->
                            <canvas id="coverageChart" width="200"></canvas>
                        </div>
                    </div>
                </div>
            </div>


            <div th:replace="~{user/footer::userFooter}"></div>
            <script src="/js/menulife.js"></script>
            <script src="/js/charts.js"></script>

        </div>
</main>

</body>
</html>