@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap");

.resp-tabs-list {
    padding:0;   
}
.resp-tabs-list i {
    margin-right:15px;
    font-size:24px;
}

.resp-tabs-list li {
    cursor: pointer;
    border-bottom:1px solid #e7edee;
    line-height:86px;
    padding-left:30px;
    font-weight:300;
    font-size:18px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.resp-tabs-list li:hover, .resp-tabs-list li.resp-tab-active, h3.resp-accordion:hover {
    background-color:#e7edee;
    border-bottom:1px solid #F3F6F8;
}

.resp-tabs-list li:last-child {
    border:none;
}

h3.resp-tab-active, h3.resp-tab-active:hover {
    border-bottom:1px solid #e7edee;
}

h3.resp-accordion {
    cursor: pointer;
    font-size:18px;
    display: none;
    font-weight:300;
    border-bottom:1px solid #e7edee;
    margin:0;
    line-height:86px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

h3.resp-accordion:hover {
    
}
.resp-tab-content {
    display: none;
}

.resp-content-active, .resp-accordion-active {
    display: block;
}


/*-----------Vertical tabs-----------*/
.resp-vtabs .resp-tabs-container {
    min-height: 460px;
    padding:15px;
    background-color:#e7edee;
    position: static;
    margin-top:-113px;
}

.resp-vtabs .resp-tab-content {
    border: none;
    word-wrap: break-word;
}

.resp-arrow {
    width: 0;
    height: 0;
    float: right;
    margin-top: 40px;
    margin-right:15px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 10px solid;
}

h3.resp-tab-active span.resp-arrow {
    border: none;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 10px solid;
}

/*-----------Accordion styles-----------*/
h3.resp-tab-active {
    background: #e7edee;/* !important;*/
    border-color:#f5f5f5;
}

.resp-easy-accordion h3.resp-accordion {
    display: block;
}

.resp-jfit {
    width: 100%;
    margin: 0px;
}

.resp-tab-content-active {
    display: block;
    background: #e7edee;
    padding:0 25px 25px;
}

/*--- premium calculator ---*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    background: #d8aa96;
    color: rgba(0, 0, 0, 0.8);
    display: grid;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 400;
    height: 100vh;
    justify-items: center;
    weight: 100vw;
}

.signup-container {
    display: grid;
    grid-template-areas: "left right";
    max-width: 900px;
}

.left-container {
    background: #807182;
    /*background: #00b2ce;*/
    overflow: hidden;
    padding: 40px 0 0 0;
    position: relative;
    text-align: center;
    width: 300px;
}
.left-container h1 {
    color: rgba(0, 0, 0, 0.8);
    display: inline-block;
    font-size: 24px;
}
.left-container h1 i {
    background: #f7b1ab;
    border-radius: 50%;
    color: #807182;
    font-size: 24px;
    margin-right: 5px;
    padding: 10px;
    transform: rotate(-45deg);
}
.left-container .puppy {
    bottom: -5px;
    position: absolute;
    text-align: center;
}
.left-container .puppy:before {
    background: #807182;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.4;
    position: absolute;
    width: 100%;
    z-index: 1;
}
.left-container img {
    filter: sepia(100%);
    width: 70%;
}

.right-container {
    background: #ffeaff;
    display: grid;
    grid-template-areas: "." ".";
    width: 870px;
}
.right-container h1:nth-of-type(1) {
    color: rgba(0, 0, 0, 0.8);
    font-size: 28px;
    font-weight: 600;
}
.right-container .set {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}
.right-container input, select {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    height: 38px;
    line-height: 38px;
    padding-left: 5px;
}
.right-container input,
.right-container select,
.right-container label {
    color: rgba(0, 0, 0, 0.8);
}
.right-container header {
    padding: 40px;
}
.right-container label,
.right-container input,
.right-container .pets-photo {
    width: 176px;
}
.right-container .pets-photo {
    align-items: center;
    display: grid;
    grid-template-areas: ". .";
}
.right-container .pets-photo button {
    border: none;
    border-radius: 50%;
    height: 38px;
    margin-right: 10px;
    outline: none;
    width: 38px;
}
.right-container .pets-photo button i {
    color: rgba(0, 0, 0, 0.8);
    font-size: 16px;
}
.right-container .pets-weight .radio-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.right-container .pets-age .radio-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.right-container .reimbursement-rate .radio-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.right-container .annual-deductible .radio-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.right-container .insurance-coverage .radio-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.pets-age, .insurance-coverage, .pets-weight, .reimbursement-rate, .annual-deductible {
    margin-bottom: 20px;
}

.right-container footer {
    align-items: center;
    background: #fff;
    display: grid;
    padding: 5px 40px;
}
.right-container footer button {
    border: 1px solid rgba(0, 0, 0, 0.2);
    height: 38px;
    line-height: 38px;
    width: 100px;
    border-radius: 19px;
    font-family: "Montserrat", sans-serif;
}
.right-container footer #back {
    background: #fff;
    transition: 0.2s all ease-in-out;
}
.right-container footer #back:hover {
    background: #171a2b;
    color: white;
}
.right-container footer #next {
    background: #807182;
    border: 1px solid transparent;
    color: #fff;
}
.right-container footer #next:hover {
    background: #171a2b;
}

.pets-name label,
.pets-breed label,
.pets-birthday label,
.pets-gender label,
.pets-spayed-neutered label,
.pets-weight label {
    display: block;
    margin-bottom: 5px;
}
.pets-age label {
    display: block;
    margin-bottom: 5px;
}
.reimbursement-rate label {
    display: block;
    margin-bottom: 5px;
}
.annual-deductible label {
    display: block;
    margin-bottom: 5px;
}
.insurance-coverage label {
    display: block;
    margin-bottom: 5px;
}
.annual-deductible label {
    display: block;
    margin-bottom: 5px;
}

.radio-container, .radio-container-insirence-cover {
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    display: inline-block;
    padding: 5px;
}

.radio-container, .radio-container-reimbursement-rate {
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    display: inline-block;
    padding: 5px;
}

.radio-container, .radio-container-annual-deductible {
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    display: inline-block;
    padding: 5px;
}

.radio-container label {
    background: transparent;
    border: 1px solid transparent;
    border-radius: 2px;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    margin: 0;
    padding: 0;
    text-align: center;
    transition: 0.2s all ease-in-out;
    width: 80px;
}

.radio-container input[type=radio] {
    display: none;
}

.radio-container input[type=radio]:checked + label {
    background: #f7b1ab;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.radio-container-insirence-cover label {
    background: transparent;
    border: 1px solid transparent;
    border-radius: 2px;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    margin: 0;
    padding: 0;
    text-align: center;
    transition: 0.2s all ease-in-out;
}

.radio-container-insirence-cover input[type=radio] {
    display: none;
}

.radio-container-insirence-cover input[type=radio]:checked + label {
    background: #f7b1ab;
    border: 1px solid rgba(0, 0, 0, 0.1);
}


.radio-container-reimbursement-rate label {
    background: transparent;
    border: 1px solid transparent;
    border-radius: 2px;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    margin: 0;
    padding: 0;
    text-align: center;
    transition: 0.2s all ease-in-out;
}

.radio-container-reimbursement-rate input[type=radio] {
    display: none;
}

.radio-container-reimbursement-rate input[type=radio]:checked + label {
    background: #f7b1ab;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.radio-container-annual-deductible label {
    background: transparent;
    border: 1px solid transparent;
    border-radius: 2px;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    margin: 0;
    padding: 0;
    text-align: center;
    transition: 0.2s all ease-in-out;
}

.radio-container-annual-deductible input[type=radio] {
    display: none;
}

.radio-container-annual-deductible input[type=radio]:checked + label {
    background: #f7b1ab;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.custom-select {
    position: relative;
    font-family: Arial;
}

.select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}

/*--- premium calculator end ---*/


/*Here your can change the breakpoint to set the accordion, when screen resolution changed*/
@media only screen and (max-width: 980px) {
    ul.resp-tabs-list {
        display: none;
    }

    h3.resp-accordion {
        display: block;
        padding-left:25px;
    }

    .resp-vtabs .resp-tabs-container {
        border: none;
        float: none;
        width: 100%;
        min-height: 100px;
        clear: none;
        padding:0;
        background-color: #F3F6F8;
        margin-top:0;
    }

    .resp-accordion-closed {
        display: none !important;
    }
}
