<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MenuLife - Insurance</title>
    <div th:insert="~{header::homeHeader}"></div>
</head>

<body data-spy="scroll" data-target=".navbar-fixed-top">

<nav th:replace="~{nav::homeNav}"></nav>

<div class="clear"></div>

<div id="page-content">
    <section class="flexslider">
        <ul class="slides">
            <li>
                <img src="images/slider-img2.jpg"/>
                <div class="slide-info">
                    <div class="slide-con">
                        <b>PawProtect</b>
                        <h3>Pets Insurance</h3>
                        <p> Pet insurance provides financial protection against unexpected veterinary costs due to accidents, illnesses, and emergencies, ensuring your pet receives the best care without financial strain.</p>
                        <a href="#" class="ti-arrow-right"></a>
                    </div>
                </div>
            </li>
            <li>
                <img src="images/slider-img.jpeg"/>
                <div class="slide-info">
                    <div class="slide-con">
                        <b>PawProtect</b>
                        <h3>Pets Insurance</h3>
                        <p>Many pet insurance plans offer coverage for routine care, including vaccinations, dental cleanings, and wellness exams, promoting long-term health and early detection of potential issues.</p>
                        <a href="#" class="ti-arrow-right"></a>
                    </div>
                </div>
            </li>
            <li>
                <img src="images/slider-img1.jpeg"/>
                <div class="slide-info">
                    <div class="slide-con">
                        <b>PawProtect</b>
                        <h3>Pets Insurance</h3>
                        <p>Pet insurance policies are often flexible, allowing you to choose the level of coverage, deductibles, and reimbursement rates that best suit your budget and your pet's needs.</p>
                        <a href="#" class="ti-arrow-right"></a>
                    </div>
                </div>
            </li>
            <li>
                <img src="images/slider-img2.jpg"/>
                <div class="slide-info">
                    <div class="slide-con">
                        <b>PawProtect</b>
                        <h3>Pets Insurance</h3>
                        <p>Having pet insurance offers peace of mind, knowing you are prepared for any unforeseen medical expenses, enabling you to make decisions based on your pet's health rather than cost considerations.</p>
                        <a href="#" class="ti-arrow-right"></a>
                    </div>
                </div>
            </li>
        </ul>
    </section>

    <section class="services">
        <h2 class="text-center">Our Best Services</h2>
        <div class="container">
            <div class="row">
                <div class="col-sm-3 services-dtl">
                    <span class="fa fa-life-bouy"></span>
                    <h3>24x7 Support</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur</p>
                </div>
                <div class="col-sm-3 services-dtl">
                    <span class="ti-pencil"></span>
                    <h3>Easy Claim System</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur</p>
                </div>
                <div class="col-sm-3 services-dtl">
                    <span class="ti-email"></span>
                    <h3>Get Started With us</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur</p>
                </div>
                <div class="col-sm-3 services-dtl">
                    <span class="fa fa-money"></span>
                    <h3>Easy Installments</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur</p>
                </div>
                <div class="col-sm-3 services-dtl">
                    <span class="ti-wallet"></span>
                    <h3>Lorem Ipsum</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur</p>
                </div>
                <div class="col-sm-3 services-dtl">
                    <span class="fa fa-laptop"></span>
                    <h3>Online Account</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur</p>
                </div>
                <div class="col-sm-3 services-dtl">
                    <span class="ti-lock"></span>
                    <h3>Strongly Secure</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur</p>
                </div>
                <div class="col-sm-3 services-dtl">
                    <span class="ti-book"></span>
                    <h3>Understandable Terms</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur</p>
                </div>
            </div>
        </div>
    </section>

</div>

<div class="clear"></div>

<footer th:replace="~{footer::homeFooter}"></footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-hover-dropdown/2.2.1/bootstrap-hover-dropdown.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>
<script src="js/jquery.flexslider-min.js"></script>
<script src="js/easyResponsiveTabs.js"></script>
<script src="js/owl.carousel.js"></script>
<script src="js/custom.js"></script>

</body>
</html>